[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
behave = "*"
sure = "*"
dynaconf = {extras = ["all"],version = "*"}
faker = "*"
webdriver-manager = "*"

[requires]
python_version = "3.7"
